.ListGroup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

.ListGroup > div {
  width: calc(33.33% - 10px); 
}

@media (max-width: 767px) {
    .ListGroup > div {
      width: calc(50% - 10px);
    }
  }

  @media (max-width: 575px) {
    .ListGroup > div {
      width: 100%;
    }
  }
  